$blue: #3b6bb2;
$wh: #ffffff;


*{
  margin: 0;
  padding: 0;
}

body{
  background: #f5fafe;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.unshow{
  display: block;
}

.left{
  margin-left: 15px;
  color: #505a78;
}

// components
@import "components/navbar.scss";
@import "components/sidebar.scss";
@import "components/user.scss";
@import "components/user-message.scss";
@import "components/pagination.scss";