* {
  margin: 0;
  padding: 0; }

body {
  background: #f5fafe; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.unshow {
  display: none; }

.left {
  margin-left: 15px;
  color: #505a78; }

.header {
  background: #3b6bb2;
  padding: 50px 0; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto; }
  .header__input {
    align-self: center; }
    .header__input input {
      background: none;
      outline: none;
      border: none;
      color: #fff;
      padding: 10px;
      opacity: 0.6; }
    .header__input img {
      position: relative;
      top: 5px;
      opacity: 0.6; }
  .header__user {
    display: flex; }
    .header__user-settings, .header__user-notification, .header__user-avatar {
      align-self: center;
      margin: 0 10px;
      cursor: pointer; }

.main {
  margin-top: 30px; }
  .main__sidebar {
    margin-left: 20px;
    width: 300px;
    height: 100vh; }
    .main__sidebar-button {
      margin-bottom: 30px;
      font-family: 'Lato', sans-serif; }
      .main__sidebar-button-btn {
        display: block;
        font-weight: 700;
        background: #58decf;
        width: 220px;
        height: 60px;
        line-height: 63px;
        padding-left: 10px;
        color: #ffffff; }
        .main__sidebar-button-btn img {
          position: relative;
          top: 4px;
          padding-right: 15px; }
    .main__sidebar-list {
      font-family: 'Lato', sans-serif; }
      .main__sidebar-list-text {
        display: flex;
        margin: 40px 0; }
      .main__sidebar-list-title {
        display: flex; }
        .main__sidebar-list-title img {
          flex-shrink: 0; }
      .main__sidebar-list-active {
        font-weight: 700;
        font-size: 18px;
        color: #505a78; }
    .main__sidebar-labels {
      font-family: 'Lato', sans-serif; }
      .main__sidebar-labels-title {
        margin-top: 10px; }
        .main__sidebar-labels-title-text {
          font-size: 12px;
          color: #7b8994; }
      .main__sidebar-labels-object {
        display: flex;
        margin: 30px 0; }
        .main__sidebar-labels-object-text {
          margin-left: 15px;
          color: #505a78; }
    .main__sidebar-icons {
      margin-top: 145px;
      display: flex; }
      .main__sidebar-icons img {
        cursor: pointer; }
      .main__sidebar-icons li {
        margin: 10px 6px; }

.user {
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px; }
  .user-block {
    cursor: pointer;
    height: 160px;
    width: 355px;
    padding-top: 25px;
    transition: .3s;
    margin-bottom: 10px; }
    .user-block:hover {
      background: #fff; }
    .user-block-images {
      cursor: pointer;
      margin-left: 30px; }
    .user-block-subtitle, .user-block-description {
      margin-left: 66px; }
    .user-block-subtitle {
      margin-top: 20px; }
      .user-block-subtitle-text {
        font-size: 14px;
        color: #505a78; }
    .user-block-description {
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
      color: #7b8994; }
      .user-block-description p {
        font-size: 12px;
        max-width: 250px; }
    .user-block-title {
      margin-left: 15px; }
      .user-block-title-text {
        font-size: 18px;
        font-weight: 700;
        color: #505a78; }
      .user-block-title-span {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 10px;
        color: #7b8994;
        margin-left: 100px; }
    .user-block-flex {
      display: flex; }

.user__message {
  margin-top: -30px; }
  .user__message-block {
    background: #fff;
    height: 270vh; }
