* {
  margin: 0;
  padding: 0; }

body {
  background: #f5fafe; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.unshow {
  display: block; }

.left {
  margin-left: 15px;
  color: #505a78; }

.header {
  background: #3b6bb2;
  padding: 50px 0; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto; }
  .header__input {
    align-self: center; }
    .header__input input {
      background: none;
      outline: none;
      border: none;
      color: #fff;
      padding: 10px;
      opacity: 0.6; }
    .header__input img {
      position: relative;
      top: 5px;
      opacity: 0.6; }
  .header__user {
    display: flex; }
    .header__user-settings, .header__user-notification, .header__user-avatar {
      align-self: center;
      margin: 0 10px;
      cursor: pointer; }

.main {
  margin-top: 30px; }
  .main__sidebar {
    margin-left: 20px;
    width: 300px;
    height: 100vh; }
    .main__sidebar-button {
      margin-bottom: 30px;
      font-family: 'Lato', sans-serif; }
      .main__sidebar-button-btn {
        display: block;
        font-weight: 700;
        background: #58decf;
        width: 220px;
        height: 60px;
        line-height: 63px;
        padding-left: 10px;
        color: #ffffff; }
        .main__sidebar-button-btn img {
          position: relative;
          top: 4px;
          padding-right: 15px; }
    .main__sidebar-list {
      font-family: 'Lato', sans-serif;
      margin-left: 10px; }
      .main__sidebar-list-text {
        display: flex;
        margin: 40px 0; }
      .main__sidebar-list-title {
        display: flex; }
        .main__sidebar-list-title img {
          flex-shrink: 0; }
      .main__sidebar-list-active {
        font-weight: 700;
        font-size: 18px;
        color: #505a78; }
    .main__sidebar-labels {
      font-family: 'Lato', sans-serif;
      margin-left: 10px; }
      .main__sidebar-labels-title {
        margin-top: 10px; }
        .main__sidebar-labels-title-text {
          font-size: 12px;
          color: #7b8994; }
      .main__sidebar-labels-object {
        display: flex;
        margin: 30px 0; }
        .main__sidebar-labels-object-text {
          margin-left: 15px;
          color: #505a78; }
    .main__sidebar-icons {
      margin-top: 145px;
      display: flex; }
      .main__sidebar-icons img {
        cursor: pointer; }
      .main__sidebar-icons li {
        margin: 10px 6px; }

.user {
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px; }
  .user-block {
    display: none;
    cursor: pointer;
    height: 160px;
    width: 355px;
    padding-top: 25px;
    transition: .3s;
    margin-bottom: 10px; }
    .user-block:hover {
      background: #fff; }
    .user-block-images {
      cursor: pointer;
      margin-left: 30px; }
    .user-block-subtitle, .user-block-description {
      margin-left: 66px; }
    .user-block-subtitle {
      margin-top: 20px; }
      .user-block-subtitle-text {
        font-size: 14px;
        color: #505a78; }
    .user-block-description {
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
      color: #7b8994; }
      .user-block-description p {
        font-size: 12px;
        max-width: 250px; }
    .user-block-title {
      margin-left: 15px; }
      .user-block-title-text {
        font-size: 18px;
        font-weight: 700;
        color: #505a78; }
      .user-block-title-span {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 10px;
        color: #7b8994;
        margin-left: 100px; }
    .user-block-flex {
      display: flex; }

.user__message {
  width: 100%;
  margin-top: -30px;
  font-family: 'Lato', sans-serif; }
  .user__message-block {
    background: #fff;
    padding-top: 45px;
    padding-left: 60px;
    border-left: 1px solid #edeef1;
    border-bottom: 1px solid #edeef1; }
    .user__message-block-user-text {
      margin-top: 9px;
      margin-left: 20px; }
      .user__message-block-user-text-title {
        font-size: 18px;
        color: #505a78; }
      .user__message-block-user-text-span {
        font-family: 'Roboto', sans-serif;
        color: #7b8994;
        font-size: 10px; }
    .user__message-block-title {
      margin-top: 50px; }
      .user__message-block-title-text {
        font-size: 18px;
        color: #505a78;
        font-weight: 700; }
    .user__message-block-time {
      margin-left: 520px;
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      color: #7b8994; }
    .user__message-block-span {
      margin-top: 30px;
      font-family: 'Roboto', sans-serif; }
      .user__message-block-span-text {
        font-size: 14px;
        color: #7b8994; }
    .user__message-block-description {
      font-family: 'Roboto', sans-serif;
      margin-top: 30px; }
      .user__message-block-description p {
        font-size: 14px;
        color: #7b8994;
        margin: 5px 0; }
    .user__message-block-end-description {
      margin-top: 30px; }
      .user__message-block-end-description p {
        font-size: 14px;
        color: #7b8994; }
      .user__message-block-end-description-span {
        display: block; }
  .user__message-send {
    padding-top: 145px;
    margin-bottom: 60px; }
    .user__message-send-block {
      width: 766px;
      height: 263px;
      border: 1px solid #edeef1;
      border-radius: 1px;
      padding-top: 35px;
      padding-left: 35px; }
      .user__message-send-block-avatar {
        cursor: pointer; }
      .user__message-send-block-text {
        margin-left: 20px;
        margin-top: 9px; }
        .user__message-send-block-text-title {
          color: #505a78;
          font-size: 18px; }
      .user__message-send-block-input {
        margin: 25px 0; }
        .user__message-send-block-input input {
          padding: 30px;
          width: 100%;
          background: none;
          outline: none;
          border: none; }
      .user__message-send-block-button {
        transition: .3s; }
        .user__message-send-block-button-btn {
          transition: .3s;
          padding: 25px 30px;
          background: #56dacb;
          color: #fff; }
          .user__message-send-block-button-btn:hover {
            filter: brightness(90%); }
      .user__message-send-block-icon {
        margin-left: 30px; }
        .user__message-send-block-icon img {
          cursor: pointer; }

.paginator {
  margin-left: 120px;
  margin-top: 30px; }
  .paginator-number {
    margin: 0 10px;
    cursor: pointer;
    color: #505a78;
    font-weight: 700;
    transition: .1s; }
    .paginator-number:hover {
      color: #000; }
  .paginator_active {
    color: #000; }
